<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="GlobalTester Platform">
         <property
               name="windowImages"
               value="icons/gt16.png,icons/gt32.png,icons/gt48.png,icons/gt64.png,icons/gt256.png">
         </property>
         <property
               name="appName"
               value="GlobalTester Platform">
         </property>
         <property
               name="introBrandingImage"
               value="product:intro/themes/gt3/graphics/brandingImage.png">
         </property>
         <property
               name="introTitle"
               value="WELCOME TO GLOBALTESTER">
         </property>
         <property
               name="introBrandingImageText"
               value="secunet Security Networks AG">
         </property>
         <property
               name="introDescription-overview"
               value="GlobalTester offers an integrated test environment with a
                holistic approach to testing that covers test specification, test
                execution, test evaluation, detailed failure analysis and reporting.
                All conformity tests can be customized and extended by user-defined
                tests through GlobalPlatform scripting. Customers can either develop
                customized test suites on their own or ask the secunet experts to
                develop test suites for them.">
         </property>
         <!--property
               name="introDescription-whatsnew"
               value="Find the latest news about Global Tester">
         </property>
         <property
               name="introDescription-tutorials"
               value="GlobalTester Tutorials">
         </property>
         <property
               name="introDescription-webresources"
               value="Visit GlobalTester WebResources">
         </property-->
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="5,260,435,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <theme
            default="true"
            id="org.globaltester.platform.intro.universal.gt3"
            name="GlobalTester3"
            path="intro/themes/gt3/"
            previewImage="intro/themes/gt3/graphics/preview.png">
         <property
               name="launchbarOverviewIcon"
               value="$theme$graphics/icons/overview_launch.png"/>
         <property
               name="launchbarTutorialsIcon"
               value="$theme$graphics/icons/tutorials_launch.png"/>
         <property
               name="launchbarWhatsnewIcon"
               value="$theme$graphics/icons/whatsnew_launch.png"/>
         <property
               name="launchbarWebresourcesIcon"
               value="$theme$graphics/icons/webresources_launch.png"/>
      </theme>
   </extension>   
   
   <extension point="org.eclipse.ui.intro.configExtension">
    <configExtension
        configId="org.eclipse.ui.intro.universalConfig"
        content="intro/webresources.xml" />
    </extension>
    
    <extension point="org.eclipse.ui.intro.configExtension">
    <configExtension
        configId="org.eclipse.ui.intro.universalConfig"
        content="intro/overview.xml" />
    </extension>
    
    <extension point="org.eclipse.ui.intro.configExtension">
    <configExtension
        configId="org.eclipse.ui.intro.universalConfig"
        content="intro/whatsnew.xml" />
    </extension>
    
    <extension point="org.eclipse.ui.intro.configExtension">
    <configExtension
        configId="org.eclipse.ui.intro.universalConfig"
        content="intro/tutorials.xml" />
    </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.globaltester.platform.product">
      </introProductBinding>
   </extension>
   <extension point="org.eclipse.ui.startup">
	<startup class="org.globaltester.platform.Initializer">
	</startup>
   </extension> 
 
</plugin>
