.intro-header {
    background-image : none;
    position: relative;
    top : auto;
    left : auto;
    width : auto;
    height: auto;
    overflow:visible;
    clip:rect(auto, auto, auto, auto);
    padding-top : 0px;
    margin-bottom : 5%;
}

#page-links a {
    width : 45%;
    float : left;
    margin-left : 3%; 
    margin-bottom : 35px;
}

#page-links a img {
	display :block;
	float:left;
    height : 48px;
    width : 48px;
    vertical-align : middle;
    margin-right : 15px;
}

/* Link images */
#page-links a#overview .content-img { background-image : url(../graphics/icons/overview.png); }
#page-links a#tutorials .content-img { background-image : url(../graphics/icons/tutorials.png); }
#page-links a#whatsnew .content-img { background-image : url(../graphics/icons/whatsnew.png); }
#page-links a#webresources .content-img { background-image : url(../graphics/icons/webresources.png); }

#action-links {
    position : absolute;
    left : 0px;
    top : 0px;
    padding-left: 175px;
    height : 118px;
    width : 100%;
    background-image : url("../graphics/navBackground.png");
    margin-right : 0px;
    z-index : 1;
}

#action-links a {
    float : right;
    
    height : 70px;
    width : 100px;
    vertical-align : center;
    horizontal-align : center; 
    display : block;
    margin-top : 5px;
    margin-bottom : 0px;
    margin-left : auto;
    margin-right : 20px;
    background-position: center center;
    background-repeat: norepeat;
    /*
    overflow:hidden;
    */
    
}

#action-links a#workbench img{
	height : 32px;
    width : 32px;
    
    vertical-align : center;
    horizontal-align : center;
    
    display : block;
    
    margin-top : -32px;
    margin-bottom : 35px;
    margin-left : auto;
    margin-right : auto;
    
    background-position: center center;
    background-repeat: norepeat;
    background-image : url(../graphics/icons/workbench_nav.png);
}
