/* show the "selected" image for this page */
#navigation-links a#tutorials img {
	background-image : url(../graphics/icons/tutorials.png); 
	width : 48px;
	height: 48px;
	margin-top : 0px;
}

body {
    padding-top : 160px;
}