/* show the "selected" image for this page */
#navigation-links a#whatsnew img {
	background-image : url(../graphics/icons/whatsnew.png); 
	width : 48px;
	height: 48px;
	margin-top : 5px;
}

body {
    padding-top : 160px;
}