a#globaltesterorg img { background-image : url('../../icons/gt48.png'); }
a#globaltesterorg:hover img { background-image : url('../../icons/gt48.png'); }
a#hjpconsultingcom img { background-image : url('../../icons/hjp48.png'); }
a#hjpconsultingcom:hover img { background-image : url('../../icons/hjp48.png'); }